.nav__dropdown {
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
    box-shadow: 0 10px 40px -7px rgba(55,63,104,.35);
    border-radius: 10px;
    width: 255px;
 
    top: 66px;
    left: 0;
    li:not(:last-child) {
        border-bottom: 1px solid var(--grey-darker-15);   
    }
    li {
        width: 100%;
    }
    button:hover {
        color: var(--purple-hover);
    }
    button {
        transition: all .2s ease-in-out;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--grey-dark);
        width: 100%;
        padding: 12px 24px; 
        pointer-events: all;
    }
   
}