<div class="roadmap">
    <div class="roadmap__container">
        <app-roadmap-header></app-roadmap-header>
        <div class="roadmap__status__container">
            <div>
                <div class="status__list__header">
                    <h3>planned (3)</h3>
                    <p class="body description">Ideas prioritized for research</p>
                </div>
                <app-status-card></app-status-card>
            </div>
            <div>
                <div class="status__list__header">
                    <h3>planned (3)</h3>
                    <p class="body description">Ideas prioritized for research</p>
                </div>
                <app-status-card></app-status-card>
            </div>
            <div>
                <div class="status__list__header">
                    <h3>planned (3)</h3>
                    <p class="body description">Ideas prioritized for research</p>
                </div>
                <app-status-card></app-status-card>
            </div>
        </div>
    </div>
</div>