<div class="roadmap">
    <div class="roadmap__container">
        <app-roadmap-header></app-roadmap-header>
        <div class="roadmap__status__container" >
            <div >
                <div class="status__list__header" >
                    <h3> planned ({{ getNumberOfStatus('planned') }})</h3>
                    <p class="body description">Ideas prioritized for research</p>
                </div>
                <ng-container *ngFor="let planned of productRequests">
                    <app-status-card *ngIf="planned.status === 'planned'" [planned]="planned"></app-status-card>
                  </ng-container>

            </div>

            <div >
                <div class="status__list__header" >
                    <h3>in-progress ({{ getNumberOfStatus('in-progress') }})</h3>
                    <p class="body description">Ideas prioritized for research</p>
                </div>
                <ng-container *ngFor="let planned of productRequests">
                    <app-status-card *ngIf="planned.status === 'in-progress'" [planned]="planned"></app-status-card>
                  </ng-container>
            </div>
            <div >
                <div class="status__list__header" >
                    <h3>live ({{ getNumberOfStatus('live') }})</h3>
                    <p class="body description">Ideas prioritized for research</p>
                </div>
                <ng-container *ngFor="let planned of productRequests">
                    <app-status-card *ngIf="planned.status === 'live'" [planned]="planned"></app-status-card>
                  </ng-container>
            </div>
            <div >
        </div>
    </div>
</div>