.main {
   padding: 45px 90px; 
   &__container {
    display: flex;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
   }
 &__left {
    margin-right: 30px;
    max-width: 255px;
    width: 100%;
 }
 &__left__intro {
    background: var(--radial-gradient);
    padding: 62px 24px 24px;
    margin-bottom: 30px;
    border-radius: 10px;
    &__title {
        color: #fff;
    }
    &__subtitle {
        color: #fff;
    }
 }
 &__left__fillter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    -webkit-column-gap: 8px;
    column-gap: 8px;
    grid-row-gap: 14px;
    row-gap: 14px;
    background-color: #fff;
    border-radius: 10px;
    padding: 24px;
 }
 &__left__roadmap,.main__left__roadmap__sidebar  {
   padding: 24px;
   background-color: #fff;
   border-radius: 10px;
   margin-top: 30px;
 }
 &__left__roadmap__header {
   display: flex;
   justify-content: space-between;
   background-color: #fff;
 }
}
.active {
    background-color: var(--purple);
    color: #fff;
}
.status {
   li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
   }
}
.status__indicator {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.status__counter{
   color: var(--grey-dark);
   font-weight: 700;
}
.home__right {
   width: 100%;
}
.color-purple {
   background-color: var(--purple);
}
.color-blue {
   background-color: var(--blue-light);
}
.main__left__intro {
   svg {
      display: none;
   }
}
.sidebar {
   display: none;
}
.main__left__filter__sidebar {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   -webkit-column-gap: 8px;
   column-gap: 8px;
   grid-row-gap: 14px;
   row-gap: 14px;
   background-color: #fff;
   border-radius: 10px;
   padding: 24px;
   max-width: 225px;
   margin-bottom: 24px;
}
@media (max-width: 950px) {
   .main__container {
      flex-direction: column;
   }
   .main {
      padding: 56px 40px;
   }
   .main__left {
      display: flex;
      justify-content: center;
      align-items: stretch;
      max-width: none;
      margin: 0 0 40px;
    
      margin-top: 0;
   }
   .main__left > :not(:last-child) {
      flex-grow: 1;
      margin: 0 10px 0 0;
   }
   .main__left__fillter {
      align-items: flex-start;
      align-self: flex-start;
        min-width: 225px;
   }
   .main__left__intro {
      display: flex;
      justify-content: flex-start;
      padding: 24px;
      align-items: flex-end;
      min-width: 225px;
   }
   .main__left__roadmap {
      min-width: 225px;
      margin-top: 0;
   }
}

@media (max-width: 760px) {
   .main__left__fillter {
      display: none;
   }
   .main__left__roadmap {
      display: none;
   }
   .main__left__intro {
      svg {
         display: flex;
      }
   }
   .main__left__intro {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 !important;
      border-radius: 0;
      padding: 16px 24px;
   }
  .main__left {
   margin: 0 ;
}
  .main {
   padding: 0 0 56px;
  }
  .main__left__intro__title {
   font-size: 1.2rem;
  }
  .sidebar {
   display: flex;
}
}

.overlay {
   position: absolute;
   transition: .2s ease-in-out;
   height: calc(100% - 73px);
   top: 79px;
   pointer-events: all;
   opacity: 1;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    z-index: 2;
    right: 0;
}
.content {
   position: absolute;
   transition: .2s ease-in-out;
   height: calc(100% - 73px);
   top: 79px;
   background-color: var(--grey-light);
   width: auto;
   padding: 24px;
   right: -100%;
   z-index: 3;
   right: 0;
}
.main__left__roadmap__sidebar {
   background-color: #fff;
   border-radius: 10px;
   padding: 24px;
   min-width: 225px;
}