.home__right {
    width: 100%;
}

.home__right__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-darkest);
    padding: 14px 16px 14px 24px;
    border-radius: 10px;
    margin-bottom: 24px;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__suggestions {
        color: #fff;
        margin: 0 34px 0 16px;
    }
    &__dropdown__outer {
        position: relative;
    }
    &__dropdown__btn:hover {
        color: var(--grey-dark);
    }
    &__dropdown__btn {
        cursor: pointer;
        color: #fff;
        transition: all .2s ease-in-out;
        font-size: var(--h4);
        padding: 4px;
        span {
            font-weight: 700;
            margin-right: 8px;
        }
      
    }

}
.btn.bg__color {
    background-color: var(--purple);
    color: #fff;
    font-weight: 700;
}
.arrow__hover:hover {
    color: var(--grey-dark);
}

//suggestions

.suggestions {
    margin-top: 24px;
    li {
        margin-bottom: 20px;
    }
}

.suggestion__card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 28px 32px;
    width: 100%;
}
.upvote-btn {
    transition: all .2s ease-in-out;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: var(--grey);
    border-radius: 10px;
    padding: 12px;
    width: 40px;
}
.main {
    transition: all .2s ease-in-out;
    margin: 0 40px;
    flex-grow: 1;
}
.m-2 {
    margin-left: 6px;
}
.comments__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.main p {
color: var(--grey-dark);
margin-bottom: 10px;
}

.main h3 {
    color: var(--grey-darkest);
}
.mobile {
    display: none;
}
@media (max-width: 760px)
{
    .home__right__nav {
        margin-bottom: 32px;
    padding: 8px 24px;
    border-radius: 0;
    }
    .home__right__nav__inner {
        svg {
            display: none;
        }
    }
   
    
}

@media (max-width: 575px) {
    .home__right__nav__suggestions{
        display: none;
    }
    .desktop {
        display: none;
    }
    .suggestion__card {
        flex-direction: column;
    }
    .main {
        width: 100%;
    }
    .comments__container {
        width: 100%;
        justify-content: space-between;
        margin-top: 15px;
    }
    .mobile {
        display: flex;
    }
    .suggestions {
        padding: 0 24px;
    }
    .main h3 {
        font-size: 0.875rem;
    }
    .main p {
        font-size: 0.875rem;
    }
}